:root {
  /* Paleta de Colores Propuesta */
  --primary-color: #027ba8;    /* Color principal (azul) */
  --secondary-color: #f13232;  /* Color secundario (rojo) */
  --accent-color: #212738;     /* Color de acento (oscuro) */
  --highlight-color: #d1d646;  /* Color para resaltar elementos (amarillo verdoso) */
  --background-color: #edf2ef; /* Color de fondo (muy claro) */

  /* Variantes del color principal */
  --primary-light: #3b9ec7;    /* Una variante más clara del color principal */
  --primary-dark: #01577b;     /* Una variante más oscura */

  /* Variables que ya tenías, las dejamos o ajustamos según convenga */
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;

  /* Ejemplo: Gradiente para la línea de tiempo */
  --timeline-gradient: linear-gradient(180deg, var(--primary-color) 0%, var(--primary-dark) 100%);

  --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --card-shadow-hover: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                        0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --title-font: 'Roboto', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Montserrat, Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  line-height: 1.6;
} 